

header,
body {
    font-family: "avenir", Verdana, Geneva, Tahoma, sans-serif;
}

.Logo {
    max-width: 500px;
    text-align: left;
    display: flex;
    float: left;
}

header {
    background-color: #DFDA87;
    color: #707070;
    height: 125px;
    width: 2000px;
    margin-top: 50px;
}

header a {
    color:#707070;
}


header {
    display: flex;
    align-items: center;
}

nav ul {
padding: 100px;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 15px;
}

nav i {
    padding-left: 50px;
    padding: 15px;
}


/* Links */
a {
    text-decoration: none;
    color:#707070;
}

.active {
   text-decoration: underline; 
}

.cta-woman {
    background-color: #707070;
    color: white;
    font-size: 30px;
    padding: 20px 30px;
    position: absolute;
    left: 25%;
    top: 155%;
}

.cta-man {
    background-color: #707070;
    color: white;
    font-size: 30px;
    padding: 20px 60px;
    position: absolute;
    left: 25%;
    top: 185%;
}

.shopnow {
    
    margin: 100px;
    padding: 100px;
    text-align: center;
}

.shopnow-button {
    background-color: #5f5f616c;
    color: white;
    font-size: 20px;
    line-height: 1;
    padding: 20px 35px;
    border-radius: 30px;
    position: absolute;
    top: 76%;
    left: 43%;
}


.shopwoman {
    text-align: center;
}

.shopman {
    text-align: center;
}