
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}


html {
    margin: 0;
    padding: 0;
}


header,
body {
    font-family: "avenir", Verdana, Geneva, Tahoma, sans-serif;
}

.Logo {
    max-width: 260px;
    display: flex;
}

header {
    background-color: #DFDA87;
    color: #707070;
}

header a {
    color:#707070;
}


header {
    display: flex;
    align-items: center;
    height: 130px;
    width: 100%;
    margin: 0;

}

nav ul {
padding: 50px;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 5px;
}

nav i {
    padding-left: 50px;
    padding: 10px;
}

body {
    width: 100%;
    margin: 0;
}

/* Links */
a {
    text-decoration: none;
    color:#707070;
}

.active {
   text-decoration: underline; 
}

.home {
    display: flex;
    width: 100%;
    margin: 0;
}

.cta-woman {
    background-color: #707070;
    color: white;
    font-size: 30px;
    padding: 20px 30px;
    position: absolute;
    left: -282px;
    top: 110px;
}

.cta-man {
    background-color: #707070;
    color: white;
    font-size: 30px;
    padding: 20px 60px;
    position: absolute;
    left: -288px;
    top: 104px;
}

.View {
    background-color: #707070d8;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}

.shopnow img {
    width: 100%;
}

.shopnow {
    text-align: center;
    position: relative;
   margin-top: 100px;
}

.shopnow-button {
    background-color: #5f5f616c;
    color: white;
    font-size: 20px;
    line-height: 1;
    padding: 20px 35px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.shopwoman {
    text-align: center;
    position: relative;
    top: 1250px;
    left: 820px;
}

.shopman {
    text-align: center;
    position: relative;
    top: 1300px;
    left: 820px;
}

@media only screen and (max-width: 760px){
  
    header{
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  header {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .personal {
      font-size: 12px;
      text-align: center;
  }


  main {
      flex-direction: column;
  }
  
nav ul {
    padding: 0px;
    }
    
    .shopnow {
        text-align: center;
        position: relative;
        top: -400px;
        left: 66px;
        width: 100%;
        min-width: 800px;
    }
 
    .shopnow-button {
        background-color: #5f5f616c;
        color: white;
        font-size: 20px;
        line-height: 1;
        padding: 20px 35px;
        border-radius: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .shopwoman {
        text-align: center;
        position: relative;
        top: 1300px;
        left: 345px;
    }


    .shopman {
        text-align: center;
        position: relative;
        top: 1300px;
        left: 345px;
    }

    .JacketMale, 
    .JacketFemale{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        max-width: 1000px;
        margin: 200px auto;
        grid-gap: 60px;
    }

    .Prod234 img {
        display: flex;
        width: 115px;
        gap: 10px;
        margin-top: 10px;
    }

    .details img {
        width: 500px;
    }

    main {
        display: flex none; 
    }



}

/* List of Jackets */




h2 {
font-size: 16px;
color: rgb(75, 75, 75);
}

.JacketMale,
.JacketFemale {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
max-width: 1000px;
margin: 120px auto;
grid-gap: 60px;
}

.JacketMale img,
.JacketFemale img {
width: 100%;
}




/* Product detailed page */

.product-details{
    display: flex;
    max-width: 1000px;
    margin: 150px auto;

}

.product-details > * {
    flex: 1;
}

 .details {
     width: 100%;
 }

 .Prod234 {
     display: flex;
     width: 134px;
     gap: 10px;
     margin-top: 10px;
 }
 .info {
     margin: 10px auto;
     margin-left: 70px;
     padding: 50px;
 }

.prod-info {
    line-height: 5px;
}

.choose {
    margin: 3px;
}

.Size {
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.521);
    padding: 5px 7px;
}

.cta-cart {
    background-color: #5f5f616c;
    color: white;
    font-size: 20px;
    padding: 20px 35px;
    border-radius: 30px;
}

/* Checkout */

.co{
    display: flex;
    margin: 70px 50px auto;
    width: 100%;

}

.img1 {
    width: 100%;
    max-width: 300px;
}

.img2 {
    width: 100%;
    max-width: 300px;
}

.product1,
.product2 {
    display: block;
    
    
}

.order-summary {
  
    text-align: right;
    display: block;
    position: absolute;
    left: 900px;
}

.total {
    text-align: left;
}

.payment {
    text-align: center;
}

.checkout {
    background-color: #707070;
    color: white;
    font-size: 20px;
    padding: 20px 35px;
    border-radius: 30px;
    position: relative;
    top: 50px;
    left: -110px;
}

@media only screen and (max-width: 1300px) {

    .co{
        margin: 200px auto;
    }

    header {
        text-align: center;
    }



    .checkout{
        top: 100px;
        left: -50px;
    }

    .order-summary {
        top: auto;
        left: auto;
        position: inherit;
    
    }
}


/* About Us */

.au {
    align-items: center;
    margin: 150px auto;
    width: 100%;
    max-width: 600px;
}

.slogan {
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.aubody {
    text-align: center;
}

.total {
    font-size: 18px;
    display: block;
    width: 500px;
    left: -250px;
}



.aboutus {
    width: 100%;
    min-width: 400px;
    top: 351px;
    left: 1100px;
}


@media only screen and (max-width: 760px) {
    main{
        margin: 150px auto;
    }

    .slogan {
        word-wrap: break-word;
        font-weight: bold;
    }

    p {
        display: block;
        width: 300px;
    }

    h3 {
        line-height: 20px;
        font-size: 1em;
    }

    .aboutus {
        display: none;
    }
}



/* Order successful */

.center {
    text-align: center;
}

.check {
    display: block;
    width: 50%;
    text-align: center;
}

.shopping {
    background-color: #7070704f;
    color: white;
    font-size: 20px;
    padding: 20px 35px;
    border-radius: 30px;
    margin-top: 20px;
}


.wishlist {
    background-color: #7070704f;
    color: white;
    font-size: 20px;
    padding: 20px 35px;
    border-radius: 30px;
    margin-top: 20px;
}

.recommended {
   display: flex;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   margin: 70px auto;
   grid-gap: 19px;
}

.recommended h2 {
    grid-column: -1/1;
}

.recommended img {
    width: 100%;
    max-width: 300px;
}


/* Contact Us */

.cu {
    text-align: center;
    margin: 150px auto;
}

.questions {
    line-height: 10px;
}

.call,
.mail,
.fb,
.cs {
    margin-top: 50px;
}

/* Applying changes */

@media screen and (mxn-width: 1300px) {

    .flex {
       display: none;

    }

    body {
       align-items: center;
       justify-content: center;
       margin: 0;
    }





}
